package ${package}import lombok.Data;
import org.springframework.data.annotation.Id;
import org.springframework.data.mongodb.core.mapping.Document;

import java.util.List;

.${moduleName}.entity;
#if(${hasList})
#end

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className}InnerEntity {


    #foreach ($column in $columns)
        private #if($column.extra == "array")List<#end$column.attrType#if($column.extra ==
        "array")>#end $column.attrname;
    #end

}
